
.close{
    color: red;
}
label{
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

input {
   
   display: inline;
   width: 100%;
    padding: 5px 5px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
  
  }
  textarea {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    background-color: #f8f8f8;
    resize: none;
  }
.edit-btn{
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    background-color:rgb(10, 102, 177) ;

}
.cancel-btn{
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    background-color:rgb(10, 102, 177) ;
}



